body {

    object-fit: cover;
    image-rendering: optimizeQuality;
    background-size: cover;
    background-image: url(a.gif);
    background-repeat: no-repeat;
    text-align: center;
    

}


h2 {

    color: chartreuse;
    font-style: italic;
   

}
.a{
    color: chartreuse;
    font-style: italic;
    font-size: 60px;
    text-decoration: none;

}

.flecha{

    color: black;
    font-style: italic;
    font-size: 78px;
    font-weight: bold;
}

.cf {
    padding: 12px 16px;
    background-color: white;
    color: black;
    border-radius: 49px;
    cursor: pointer;
    border-color: white;
    
    
}

.cf:hover {
    background-color: chartreuse;
    color: white;

}

.pepe {
    border-radius: 34px;
}

.bebe{
    text-decoration: none;
    color: chartreuse;
}

.DF{
    color: chartreuse;
}
